<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="agnab.site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://agnab.onrender.com/agnabot" />
  <meta property="og:image" content="/jasper.png" />
  <meta property="og:description" content="epic agnab website WOW" />
  <meta name="theme-color" content="#235218">
  <title>agnabot - agnab.site</title>
  <link rel="stylesheet" href="/agnabot.css">
</head>
<body>

<button id="authButton" class="user-button" onclick="redirectToAuth()">
  <!-- Content will be dynamically updated -->
</button>

<div class="leaderboard-header">
  <i>Leaderboard</i>
</div>

<div class="sidebar">
  <div class="leaderboard">
    <div class="leaderboard-list">
      <% toParse.forEach((item, index) => { %>
          <div class="leaderboard-item">
          <div class="avatar">
          <a href="/agnabot/<%= item.id %>">
            <img src="<%= item.avatar %>" alt="Avatar">
          </a>
          </div>
        <% if (index === 0) { %>
          <div class="leaderboard-info gold">
        <% } else if (index === 1) { %>
          <div class="leaderboard-info silver">
        <% } else if (index === 2) { %>
          <div class="leaderboard-info bronze">
        <% } else { %>
          <div class="leaderboard-info">
        <% } %>
          <a href="/agnabot/<%= item.id %>">
            <p><strong><%= index + 1 %>.</strong> <%= item.username %>: <%= item.agnabuckAmount %></p>
          </a>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>

  <div class="github">
      <p class="subheading">
        <a href="https://github.com/AGNAB712/agnabot" target="_blank">
          <img src="github.png" alt="Github Logo" style="width: 75px; height: 75px; vertical-align: middle;">
          Github Repository
        </a>
      </p>
  </div>

<div class="background-shape"></div>

 <div class="search-container">
  <div class="search-wrapper">
    <input type="text" id="searchInput" placeholder="Search by username..." onkeydown="handleKey(event)">
    <button onclick="search()">
      <img src="search.png" alt="Search Icon">
    </button>
  </div>
</div>

<script>
  
  function redirectToAuth() {
    red('/auth/discord');
  }

</script>
<script src="agnabot.js"></script>

</body>
</html>
