<!-- views/inventory.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="agnab.site - <%= username %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://agnab.onrender.com" />
  <meta property="og:image" content="<%= avatar %>" />
  <meta property="og:description" content="<%= agnabuckAmount %> agnabucks" />
  <meta name="theme-color" content="#235218">
  <title><%= username %>'s page - agnab.link</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <div class="container">
    <div class="agnabuck-amount">
      <h1><%= agnabuckAmount %> ꬰ</h1>
    </div>
    <div class="content">
      <h1>Hello</h1>
    </div>
    <img class="corner" src="/corner.png" alt="Corner">
    <img class="background-image" src="<%= bg %>" alt="Background Image">
    <img class="background-image clone" src="<%= bg %>" alt="Background Image">
  </div>

  <div class="avatar-container">
    <img class="avatar" src="<%= avatar %>" alt="Avatar Image">
  </div>
  <div class="leaderboard-place">
    <p>#<%= myPlace %> on the leaderboard</p>
  </div>

</body>
</html>
